/* Primary Styles */
*, *::before, *::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
   outline: none;
   text-decoration: none;
   box-sizing: border-box;
 }

body {
   margin: 0;
   font-family: "Montserrat", sans-serif;
   font-size: 1em;
   line-height: 1.5;
   color: #333;
}

h1 {
  font-size: 2em;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
}

em {
   font-style: normal;
}

a {
   text-decoration: none;
   color: inherit;
}

.double-underline:after,
.double-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  background-color: #247ba0;
  display: block;
  height: 3px;
  margin: 0;
  padding: 0;
}
.double-underline:after {
  bottom: -25px;
  left: 30px;
}

.double-underline:before {
  bottom: -20px;
}

.colors {
   color: #006494;
   color: #247ba0;
   color: #1b98e0;
   color: #e8f1f2;
   color: #cae4e7;
 }

/* Layout */
.s-layout {
   display: flex;
   width: 100%;
   min-height: 100vh;
}

.s-layout__content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

/* Sidebar */

.logo {
   height: 20vh;
   color: white;
   text-align: center;
}

.s-sidebar__trigger {
   z-index: 2;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 4em;
   /* background: #192b3c; */
}

.s-sidebar__trigger > i {
   display: inline-block;
   margin: 1.5em 0 0 1.5em;
   /* color: #f07ab0; */
   color: #1b98e0;
   background-color: transparent;
}

.s-sidebar__nav {
   position: fixed;
   top: 0;
   left: -15em;
   overflow: hidden;
   transition: all .3s ease-in;
   width: 15em;
   height: 100%;
   background-color: #13293d;
   color: rgba(255, 255, 255, 0.7);
   z-index: 1;
   padding-top: 20px;
   margin: auto;
   text-align: left;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
   left: 0;
}

.s-sidebar__nav ul {
   /* position: absolute; */
   position: relative;
   /* top: 1em; */
   left: 0;
   margin: 0;
   padding: 0;
   width: 15em;
   background: transparent;
}

.s-sidebar__nav ul li {
   /* width: 100%; */
   list-style: none;
   background: transparent;
   color: white;
}

.s-sidebar__nav-link {
   position: relative;
   display: inline-block;
   width: 100%;
   height: 4em;
   transition: transform 0.5s;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.s-sidebar__nav-link em {
   position: absolute;
   top: 50%;
   left: 4em;
   transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
   background: #247ba0;
   transform: scale(1.1);
   z-index: 100;
   color: #fff;
}

.s-sidebar__nav-link > i {
   position: absolute;
   top: 0;
   left: 0;
   display: inline-block;
   width: 4em;
   height: 4em;
}

.s-sidebar__nav-link > i::before {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.footer {
   height: 10vh;
   color: rgba(255, 255, 255, 0.384);
   font-size: 1rem;
   bottom: 0px;
   left: 0;
   position: absolute;
   display: inline-block;
   width: 100%;
   text-align: center;
 }

 .section {
   border-bottom: 1px solid rgba(95, 86, 86, 0.075);
   animation: fadein 1s;
   -moz-animation: fadein 1s; /* Firefox */
   -webkit-animation: fadein 1s; /* Safari and Chrome */
   -o-animation: fadein 1s; /* Opera */
 }

 .section.active {
   animation: fadein 1s;
   -moz-animation: fadein 1s; /* Firefox */
   -webkit-animation: fadein 1s; /* Safari and Chrome */
   -o-animation: fadein 1s; /* Opera */
 }

 @keyframes fadein {
   from {
       opacity:0;
   }
   to {
       opacity:1;
   }
}
@-moz-keyframes fadein { /* Firefox */
   from {
       opacity:0;
   }
   to {
       opacity:1;
   }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
   from {
       opacity:0;
   }
   to {
       opacity:1;
   }
}
@-o-keyframes fadein { /* Opera */
   from {
       opacity:0;
   }
   to {
       opacity: 1;
   }
}

 /* Home */

 .home {
   height: 100vh;
   display: block;
 }
 
 .picture {
   height: auto;
   width: 200px;
   border-radius: 50%;
   padding: 5px;
   border: 1px solid #bfbfbf;
   box-shadow: 5px 5px 5px #aaaaaa;
 }
 
 .picture:hover {
   border: 1px solid #1b98e0;
   box-shadow: 2px 2px 2px #1b98e0;
 }
 
 .dot {
   height: 30px;
   width: 30px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   position: relative;
   background-color: #1b98e0;
   transition: transform 0.5s;
 }
 
 .dot:hover {
   transform: scale(1.1);
 }
 
 .dot i {
   color: #e8f1f2;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
 }
 
 .center-logo {
   position: relative;
   top: 50%;
   text-align: center;
   left: 50%;
   transform: translate(-50%, -50%);
}
 
.gvf {
   font-family: "Montserrat", sans-serif;
   /* font-weight: bolder; */
   font-weight: 900;
}

/* About */

.about-content {
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.about p {
   font-size: 1em;
}

.skills-info span {
   margin: 0;
   padding: 0;
   text-align: center;
   flex-grow: 1;
   flex-basis: 1;
}

.svg {
   width: 40%;
}

.btn-primary {
   background-color: #1b98e0 !important;
   color: white !important;
   transition: transform 0.5s;
   border-radius: 25px;
   position: relative;
}
 
.btn-primary:hover {
   transform: scale(1.1);
}
 
button a {
   color: white;
}

button a:hover {
   text-decoration: none;
   color: white;
}

.skills-info {
   border: 1px solid #eaeaea;
   position: relative;
   /* padding: 20px 20px 20px; */
   list-style: none;
}

.skills-info span.educ {
   border-top: 2px solid #006494;
   padding-top: 10px;
}

.skills-info p {
   font-weight: bold;
   font-size: 1em;
}

.skills-info .web {
   margin-right: 10px;
   margin-left: 10px;
}


/* .timeline-item h2 {
   font-weight: bold;
   font-size: 1em;
}

.timeline-item span.small {
   font-style: italic;
}

.timeline-item p {
   font-size: .9em;
} */

.thin-border {
   border: 1px solid #eaeaea;
   position: relative;
}

.thin-border span.educ {
   border-top: 2px solid #006494;
   padding-top: 10px;
}

ul.timeline-educ,
ul.timeline-exp {
   /* padding: 20px 20px 20px; */
   list-style: none;
}

 /* Timeline vertical line */
 ul.timeline-educ:before {
   content: ' ';
   background: #eaeaea;
   display: inline-block;
   position: absolute;
   left: 16px;
   width: 2px;
   height: 70%;
   z-index: 0;
   bottom: 10px;
   border-radius: 1rem;
}

 /* Timeline vertical line */
 ul.timeline-exp:before {
   content: ' ';
   background: #eaeaea;
   display: inline-block;
   position: absolute;
   left: 16px;
   width: 2px;
   height: 80%;
   z-index: 0;
   /* bottom: 10px; */
   border-radius: 1rem;
}

li.timeline-item {
   margin: 15px 0;
}

.timeline-item h2 {
   font-weight: bold;
   font-size: 1em;
}

.timeline-item span.small {
   font-style: italic;
}

.timeline-item p {
   font-size: .9em;
}

/* Timeline item arrow */
/* .timeline-arrow {
   border-top: 0.5rem solid transparent;
   border-right: 0.5rem solid black;
   border-bottom: 0.5rem solid transparent;
   display: block;
   position: absolute;
   left: 2rem;
} */

/* Timeline item circle marker */
li.timeline-item::before {
   content: ' ';
   background: #fff;
   display: inline-block;
   position: absolute;
   border-radius: 50%;
   border: 3px solid #006494;
   left: 11px;
   width: 14px;
   height: 14px;
   z-index: 0;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


 /* Projects */

/* .project { */
/* height: 100%; */
/* display: none; */
/* background-color: blue; */
/* } */

.middle {
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
}

.cardresize:hover .imgresize {
   opacity: 0.3;
   /* background: rgba(39, 42, 43, 0.8); */
 }
 
 .cardresize:hover .middle {
   opacity: 1;
 }

.imgresize {
   width: 100%;
   height: 200px;
   position: relative;

   opacity: 1;
   display: block;
   /* width: 100%;
   height: auto; */
   transition: .5s ease;
   backface-visibility: hidden;
 }
  
 .card-proj-img {
   position: relative;
   border-radius: 15px;
 }
 
 .link-proj {
   position: absolute;
   top: 70%;
   right: 2%;
   color: white;
   font-size: 16px;
   text-align: center;
   border: none;
   cursor: pointer;
 }
 
 .card-framework-proj {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 .cardresize {
   height: 370px;
   position: relative;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   /* border-radius: 15px; */
   padding: 5px;
   margin-bottom: 10px;
 }
 
 .languages {
   position: absolute;
   bottom: 0;
 }
 
.card-body p {
   font-size: .9em;
}

.badge-info {
   background-color: #1b98e0;
}

/* Contact */

.contact {
   height: 100vh;
 }
 
 .icon-resize {
   height: 50px;
   width: 50px;
   color: #1b98e0;
   display: inline-block;
   position: relative;
   font-size: 50px;
   transition: transform 0.5s;
 }
 
 .icon-resize:hover {
   transform: scale(1.1);
 }

/* Mobile First */
@media (min-width: 42em) {
   .s-layout__content {
      margin-left: 4em;
   }
   
   /* Sidebar */
   .s-sidebar__trigger {
      width: 4em;
   }
   
   .s-sidebar__nav {
      width: 4em;
      left: 0;
   }
   
   .s-sidebar__nav:hover,
   .s-sidebar__nav:focus,
   .s-sidebar__trigger:hover + .s-sidebar__nav,
   .s-sidebar__trigger:focus + .s-sidebar__nav {
      width: 15em;
   }

   
}

@media (min-width: 68em) {
   .s-layout__content {
      margin-left: 15em;
   }
   
   /* Sidebar */
   .s-sidebar__trigger {
      display: none
   }
   
   .s-sidebar__nav {
      width: 15em;
   }
   
   .s-sidebar__nav ul {
      top: 1.3em;
   }

}

